{% extends "orders/base.html" %}

{% block body %}

<div class="container-fluid">
  <h2>Order: #{{ order.id }} in {{ order.datetime}}</h2>

  <h3>Status: {{ order.transaction }}</h3>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Toppings</th>
        <th scope="col">Size</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>

    <tbody>
      {% for item in order.items_in_order.all %}
        <tr>
          <th scope="row">{{ item.item.name }}</th>
          <td>{% for topping in item.toppings.all %} <li>{{ topping }}</li> {% endfor %}</td>
          <td>{% if item.size == 'one_size' %} - {% else %} {{ item.size }} {% endif %}</td>
          <td>{{ item.amount }}</td>

        </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
